#h4_base {
    color: #BCBCBC;
    margin-left: 20px;
}

#h1_base {
    width: 420px;
    background-color: #CFCFCF;
    outline-style: double;
}
p {
    margin-left: 100px;
    width: 420px;
}

#h1_login {
    margin-left: 270px;
    height: 0px;
}

#img_login {
    margin-left: 100px;
}
