<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Профессии</title>
</head>
<body>
    {% extends "base.html" %}

    {% block content %}
    <br /><h2>Список профессий</h2>

    {% if ul == 1 %}
        <ul>{% for prof in prof_list %}
            <li>{{ prof }}</li>
            {% endfor %}</ul>

    {% elif ul == 0 %}
        <ol>{% for prof in prof_list %}
                    <li>{{ prof }}</li>
            {% endfor %}</ol>
    {% else %}
        <h2>Неверный параметр!</h2>

    {% endif %}

    {% endblock %}
</body>
</html>
